.medium {
    size: 16px;
    line-height: 24px;
}

.large {
    size: 18px;
    line-height: 28px;
}

.x-large {
    size: 20px;
    line-height: 28px;
}

.two-x-large {
    size: 24px;
    line-height: 32px;
}
